<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Banking Management System</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

<div class="card shadow p-5">

<h1 class="text-center text-primary">

🏦 Banking Management System

</h1>

<hr>

<div class="text-center">

	<a href="/create" class="btn btn-success btn-lg m-2">
	    Create Account
	</a>

	<a href="/accounts" class="btn btn-primary btn-lg m-2">
	    View Accounts
	</a>

	<a href="/deposit" class="btn btn-warning btn-lg m-2">
	    Deposit Money
	</a>
	
	<a href="/withdraw" class="btn btn-danger btn-lg m-2">
	    Withdraw Money
	</a>
	
	<a href="/balance" class="btn btn-info btn-lg m-2">
	    Check Balance
	</a>
	
	<a href="/transfer" class="btn btn-dark btn-lg m-2">
	    Fund Transfer
	</a>
	
	<a href="/update" class="btn btn-info btn-lg m-2">
	    Update Account
	</a>
	
	<a href="/delete" class="btn btn-danger btn-lg m2">
		 Delete Account 
	</a>
	
	<a href="/search" class="btn btn-dark btn-lg m-2">
	    Search Account
	</a>
	
	<a href="/transactions" class="btn btn-secondary btn-lg m-2">
	    Transaction History
	</a>
	
	<a href="/logout" class="btn btn-danger btn-lg m-2">
	    Logout
	</a>
	
	<a href="/statement" class="btn btn-dark btn-lg m-2">
	    Account Statement
	</a>
	
	<a href="/dashboard" class="btn btn-info btn-lg m-2">
	    Dashboard
	</a>

</div>

</div>

</div>

</body>

</html>